sudo: false
cache:
  bundler: true
  directories:
  - cache/
notifications:
  email: false
language: c
compiler: gcc
env:
  global:
  - PACKAGE=mpu6050
  - USER=leon0516
  - REPO=openwrt-mpu6050-example
  #- secure: FkyJ8kdvYP5JucY3jh8iRLYymJaUkk3UySNeag2LKuExtgfjPVBrI/UlELDxbv/CxKYJJm9Ws/X6qfZjovCFdsQXEqZbmmnWtv4j7/CRVfolMqmIvqhhl/wMHdNj9QuXKZq5nIkgNDTXgFBWnRA7dDzF2QGmJBLfWQ+ZANgci7liEZtk61c5+cFrMqLuFhgUEXarwuAb4vrlB0F7dVC10NUuQCUC/wcHgrn1Z5bHIodS8NSXFPPLxUrIswdEVTvdjT5N4dSM3BndDO4ikpl4SRGdY4+0tmPFktYNvvoIfrAc+c8YsMB1l/n21LEYb1YR+Xxx6sCEp0PImX3od5k3wwwjr2MaDV99kZlKMZQ0+dN+d+dZCoJfJ1QAEU1PCuzwZq5NwfpRv1tlySlCWInzYlBziBjM89PfASAhcU2u9fRYlMJuLAOVP6Glr9f5rPoIVUQF8obLV5IKRvifPxm60uglFeZflOlEjirJiQbdAQMaBGEM+m4Gb3IhK9g9UlGc5qNQX+3HFY32a4dX5ykDfUhvcjKfvXoIA4A78aR5jEqKhAC8tZ3EpkSjOsbOsWVHpucQxAEa9NPVjbqzfmbxY4+Y7/3UNh91skOoYJo9J7N50EU3I98uSD100j9lxCNm22g7REKVwH/U0GFPL4p5cfQMtlAVrZ5rporsdWf6U10=
  #- secure: XobTiO8/VlA2L+DtnNisx+u3DF0vdHa1V72c1S09ULFWxfIGZqbL1NR1dsAeleI0UfcAcHU5tKvjvwbTjr6aIOH8cgkCyEzAV/f20GKx23zozWSD7jlfVKMOF5gh2AUMR8+BSZj/LYlwCRuYl/DWW4wBPc+QenpTyKLjmLNkeiiBGRluxpnX3PVmgXP/58VVebDVshyEgTvipMmHpdqh9cEr4/QIQQXBFnamvio9syCAV6Xyla7ndxjxKmb8l3jXUrF+kBBQ3ezVAHwOG4TsGOz1wn0x597HGyevK8ROxkuEur0Y/gUfZc504+lXTyaUYpanXi9zDrNVve4VJ2elCHFiWd8xXqBhs9gkMq6gE4jpx146iK/3IM229kf+nlUUnGSdiAiIYLO9r5AAcZE62VrvU6EkGHIWcmT+dZQrk8EyAuh7ahYuS2RRd/33N/QYXGL//BJaf1B4WO5nA71FSnsnQJX2Td+IWiG3Gc5rx2wIelLUTcBvXXrkTPYudFDurbDzgqXdOlXZDvj7+59OR5mPboh350aX8D9Lrh7fDmanYXNr9avs2wkqTOp1uKPc7Wf8X8W397/wr5qKPfclo568MCEV23OLdRKzJfFER13Ui+QchYRaM6j9Gpay9hgGLIwrgjveI5N46Vrb3rOh0SitgrXEfe2vuezZsB6WqWY=
  - secure: "ZDeulNlhgLxey69RZTQLyK1vSR+om5bwKXYAGJu1Ay7ryDn2SKfKPSs+eXVnu7DhioPZMB/6SUtXkJnQJmn9BvwdDuxR+XWYCO6ysIQkK8eKoiynP6p4w4ALaYDkfUai5FDpQV+vApGlCOvid9iWVsjWydpD03oO4dexWqpFr6Cqv2DR4kMuVf1yKPOX8PS3pfmLir7PpIWhnGKra8+aw+P65SD7x3Nn9MKLRLp53LmbvHEOA3CJIoTXxsriB8krroKj+ZJebnD0xS1/sqJu3Scc/K5Hm/BszFmA7i649x6YgK05RtkfvNNZQb6cWhDT1DT2qpLNVM8RBtJBM0nDgHJe9pS9jQTGeSM+tP418/wc3awh339kFzPyTA0rVdh7LdwoYwv7xvB8/BNPf6x4Yaial0K9XwxRuuQwtLQTsSdW/EI/Ub+7eLMlYQNSQ2pE3qFczw3Y50/5aWd6P/8KLDxxbvchly2x/9jT8uhHR7IZXvkykdZE102Wn7NRO/d9Py37/47mTvcI/g4IpsWuCUuCScmSurrflvBJMi47a/UXu8vcPQ54VyibX0/wxadYGLPVEMQHRBuh+sIvstwNPDHfyfhU1akPBTrUeSJdcrgzQlbrUXlyGIH3lF7VajbuiJQydjzygklZpqWz08/B7qqyRqAkrlkh980T6QYR4ao="
  matrix:
  - SDK_URL=https://downloads.openwrt.org/chaos_calmer/15.05/ar71xx/generic/OpenWrt-SDK-15.05-ar71xx-generic_gcc-4.8-linaro_uClibc-0.9.33.2.Linux-x86_64.tar.bz2
  - SDK_URL=https://downloads.openwrt.org/chaos_calmer/15.05/ramips/mt7620/OpenWrt-SDK-15.05-ramips-mt7620_gcc-4.8-linaro_uClibc-0.9.33.2.Linux-x86_64.tar.bz2
install:
- mkdir -p $TRAVIS_BUILD_DIR/local ; cd $TRAVIS_BUILD_DIR/local
- wget "http://us.archive.ubuntu.com/ubuntu/pool/main/c/ccache/ccache_3.1.6-1_amd64.deb"
- dpkg -x *.deb .
- mkdir -p $TRAVIS_BUILD_DIR/cache ; cd $TRAVIS_BUILD_DIR/cache
- wget -c $SDK_URL
- mkdir -p $TRAVIS_BUILD_DIR/sdk ; cd $TRAVIS_BUILD_DIR/sdk
- export FILE=$TRAVIS_BUILD_DIR/cache/$(basename $SDK_URL)
- file $FILE
- tar xjf $FILE
- cd $TRAVIS_BUILD_DIR/sdk/OpenWrt-SDK-*
- mkdir package/$PACKAGE
- ln -s $TRAVIS_BUILD_DIR/Makefile package/$PACKAGE/
- ln -s $TRAVIS_BUILD_DIR/src package/$PACKAGE/
script:
- export PATH=$TRAVIS_BUILD_DIR/local/usr/bin:$PATH
- cd $TRAVIS_BUILD_DIR/sdk/OpenWrt-SDK-*
- "./scripts/feeds update packages >/dev/null"
- make V=s
- find $TRAVIS_BUILD_DIR/sdk/OpenWrt-SDK-*/bin/
- find . -name *.ipk -exec cp {} $TRAVIS_BUILD_DIR \;
- cd $TRAVIS_BUILD_DIR/
- chmod a+x $TRAVIS_BUILD_DIR/deploy.sh
after_success: "$TRAVIS_BUILD_DIR/deploy.sh"
before_deploy: git fetch --tags
deploy:
  provider: releases
  api_key:
    secure: "bUcfHyjQDKvGbVKnbdqfkG/kCMpsU+VuoZxm7+9ckB+lhpHFLaN/xIKmnikNfcEpEbq8wCnnbbW4TOlF7sUVOCcKQ9mazgtZamcO+ZM09ig73rci2v7JYK7NLLJaxd1AWTWi8S6GSFgAIqucWxKdIGTONnTSkGzGjljFPtVBCLY6KCXeQHukrDjVMCBMp+k+rNYHP58OmjpJVrKG9kskF3BaRmkqkFrVDUeL1MCPDfMwprCpmImxW07xW7aWSGIs0CGttfbkVC+1vz5bJsFvqcF1qHlkmfTImumsc8DtDvGvdhb08xOb/DYueT43VFa2UHG2xglMLcF1/+4PqCC9eugoq0NgN16xHXG8HhAMKjBCr6tvcxhkLeYiYTGweZsfLfLQdcGirSe8TDhr1daedbazOPNiqGzy0aypGjCFPeyHxBzuPHAJixRmwVI+jZzs8a4vG+3GI5ZNf4U0uH08bhAHqvgILULJ0QliZc74h6+EYUYmLbf4M8MzRspLGh3GFh1+QUvm2+UhHWk5LuLGgi68X5ISUJQrEL+wm35m3o9MDnP47VgnELb+lGUx0bGOeuT0ywEQCROPNLso844lHXK/zVZ5HILo+RRMIE7eAcUCBPZa2fbil0SYhKhHZMQ+MOfXKIrO/djpW+cjv5k6sYeATi1R4UqHVFZqMvim64c="
  skip_cleanup: true
  file_glob: true
  file: "$TRAVIS_BUILD_DIR/*.ipk"
  on:
    tags: true
    all_branches: true
